<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appvolk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppVolk">
        <activity
            android:name=".Activity.ConsultaAtividadesActivity"
            android:label="Consultar Atividades"/>
        <activity
            android:name=".Activity.ConsultaClientesActivity"
            android:label="Consultar Clientes" />
        <activity
            android:name=".Activity.ConsultaSocioActivity"
            android:label="Consultar Socios" />
        <activity
            android:name=".Activity.CadastroAtividadesActivity"
            android:label="Cadastrar Atividades" />
        <activity
            android:name=".Activity.CadastroClienteActivity"
            android:label="Cadastrar Clientes" />
        <activity
            android:name=".Activity.CadastroSocioActivity"
            android:label="Cadastrar Socios" />
        <activity
            android:name=".Activity.SobreActivity"
            android:label="Sobre" />
        <activity
            android:name=".Activity.MapaActivity"
            android:label="Mapa" />
        <activity
            android:name=".Activity.ContatoActivity"
            android:label="Contato" />
        <activity
            android:name=".Activity.ConsultarActivity"
            android:label="Consulta" />
        <activity
            android:name=".Activity.CadastrarActivity"
            android:label="Cadastro" />
        <activity
            android:name=".Activity.MenuActivity"
            android:label="Menu" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="Login" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>